@import "../../utils/common";

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.item {
  display: flex;
  flex-direction: row;
}

.label {
  width: 85px;
  font-size: 14px;
  margin-right: 5px;
}

.value {
  flex: 1;
  font-size: 13px;
}

.noticeContainer {
  padding: 15px 15px;
  align-items: flex-start;
}

.noticeTitle {
  font-size: 13px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  line-height: 18px;
}

.noticeContent {
  flex: 1;
  font-size: 13px;
  color: black;
  line-height: 18px;
}
