
.mainLayout, .mainLayout > div {
  background-color: #ffffff;
}
/* laout > sider */
.mainLayout > div:first-child {
  padding: 3px;
}
/* laout > content */
.mainLayout > div:last-child {
  padding-left: 4px;
}

.inputCard > div {
  padding: 10px;
}

.inputCard > div > div > div > div {
  padding: 10px;
  padding-top: 0;
}

.unit {
  white-space: nowrap;
  text-align: center;
  /* border: 1px solid @line-color;*/
  border-radius: 6px;
  background-color: @line-color;
}


.tmpCard > div {
  padding: 10px;
  overflow: auto;
}
