@import "../../utils/common";

.container {
  flex: 1;
  background-color: @IOS_GRAY_BG;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.title {
  margin-top: 30px;
  padding: 0 20px;
  .font15;
}

.icon_wxpay {
  color: @IOS_GREEN;
  width: 93px;
  height: 93px;
}

.icon_alipay {
  color: @IOS_BLUE;
  width: 93px;
  height: 93px;
}

.button_wxpay {
  margin-top: 25px;
  background-color: @IOS_GREEN;
  color: white;
  alignItems: 'center';
  width: 90%;
}

.button_alipay {
  margin-top: 25px;
  background-color: @IOS_BLUE;
  color: white;
  alignItems: 'center';
  width: 90%;
}