
.receptionTopCard {
  margin-bottom: 10px;
}

.receptionTopCard > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.receptionBottomCard > div {
  padding: 5px;
}

.receptionSearchRow > div > div {
  margin-right: 0 !important;
}

.receptionSearchScopeRadio {
  width: 100%;
}

.receptionSearchScopeRadio > label {
  width: 50%;
  text-align: center;
}

