
.container {
	/*background-color: #ff3000;*/
	padding-top: .9rem;
	overflow: hidden;
}

.keyRow {
	position: relative;
}

.keyCol {
	display: block;
}

.key {
	display: block;
	font-size: 4rem;
	font-weight: 500;
	background-color: #FFFFFF;
	border-radius: .3rem;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
	overflow: hidden;
	margin: .5rem auto;
}
