<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="false">
	<!-- **************** 自助机菜单 clientMenu START **************** -->
	<bean id="clientMenuDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.ssm.client.model.ClientMenu" />
	</bean>
	<bean id="clientMenuManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="clientMenuDao" />
	</bean>
	<!-- **************** 自助机菜单 clientMenu END **************** -->
	
	<!-- **************** 自助机 machine START **************** -->
	<bean id="machineDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.ssm.client.model.Machine" />
	</bean>
	<bean id="machineManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="clientMenuDao" />
	</bean>
	<!-- **************** 自助机 machine END **************** -->

</beans>