
html, body, :global(#root) {
  height: 100%;
  background-color: white;
  -webkit-text-size-adjust: none;
}

:global {
  .am-list-body {
    background-color: rgba(0,0,0,0) !important;
  }
  input, textarea {
    font-size: 13px !important;
  }
  .am-button {
    font-size: 13px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  .am-input-label {
    font-size: 14px !important;
    color: black;
  }
  .am-list-arrow {
    width: 12px !important;
    height: 12px !important;
  }
  .am-input-clear {
    width: 18px !important;
    height: 18px !important;
    background-size: 16px auto !important;
    background-position: 3px 3px !important;
  }

  .am-tabs-default-bar-top {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 42px !important;
    padding: 0 15px 8px 15px !important;
    background-color: white;
    border-bottom: 1px solid #96969A;
  }
  .am-tabs-default-bar-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 6px !important;
    background-color: #efeeee !important;
    padding: 2px;
  }
  .am-tabs-default-bar-underline {
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-width: 0 !important;
    border-color: rgba(255, 255, 255, 0) !important;
  }
  .am-tabs-default-bar-tab {
    height: 28px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #5D5D5D !important;
  }
  .am-tabs-default-bar-tab-active {
    height: 28px !important;
    background-color: white !important;
    border-radius: 4px !important;
    color: black !important;
  }
}

div, span, i, h1, h2, h3, h4, h5, a, p {
  -webkit-text-size-adjust: none;
}

