.mainLayout, .mainLayout > div {
  background-color: #ffffff;
}
/* laout > sider */
.mainLayout > div:first-child {
  padding: 3px;
}
/* laout > content */
.mainLayout > div:last-child {
  padding: 3px;
  padding-left: 7px;
}

.tmpCard > div {
  padding: 5px;
}

.searchRow {
  margin-bottom: 2px;
}
.searchRow > div:first-child {
  padding-right: 1px;
}
.searchRow > div:last-child {
  padding-left: 1px;
}
/*.searchRow > div > div > div > div {
  line-height: 18px !important;
}*/

.inputCard > div:last-child, .listCard > div {
  padding: 10px;
}

.optFlagContainer {
  position: absolute;
  right: 20px;
  top: -5px;
  line-height: 16px;
}

.optFlagContainer span {
  padding: 0 10px;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid @line-color;
  border-radius: 5px;
}

.selectedOpt {
  color: #ffffff !important;
  background-color: #49a9ee !important;
}

.listCard {
  margin-top: 10px;
}

.listCard > div {
  padding: 5px;
}

.form {
  padding: 0;
}

.fieldSet > div:first-child {
  margin-bottom: 10px;
}

.btnContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  width: 520px;
  z-index: 901;
}
