@import "../../utils/common";
.flex1 {
  flex: 1;
}

.header{
  .rowDiv;
  .top {
    height: 40px;
    .main{
      .font16;
      .flex1;
    }
    .extra {
      .font12;
      .textCenter;
      background-color: #26AB28;
      color: white;
      border-radius: 18px;
      width: 45px;
      height: 16px;
      line-height: 16px;
      justify-content: end;
    }
  }
  .bottom {
    .font14;
    .fontGray;
  }
}

.body {
  .rowDiv;
  .row {
    .font14;
    .fontGray;
    height: 28px;
    .flex1 span {
      .fontOrange
    }
  }
}

.footer {
  .rowDiv;
  .left {
    .flex1;
    color: @IOS_BLUE;
  }
}

.rowSep {
  height: 10px;
  background-color: @LINE;
}

.rowDivSep {
  margin-Left: 15px;
  height: 1px;
  background-color: @LINE;
}

.rowDiv {
  padding: 10px 15px;
}
