@import "../../utils/common";

.container {
  padding-top: 36px;
  .icon {
    width: 93px;
    height: 93px;
    color: #1FB922;
  }
  .title {
    margin-top: 30px;
    padding: 0 20px;
    .font20;
  }
  .content {
    margin-top: 5px;
    padding: 0 20px;
    .font14;
    .fontGray;
    span {
      color: @IOS_BLUE;
    }
  }
}

.button {
  margin-top: 25px;
  background-color: #26AB28;
  color: white;
  width: 90%;
}
