@import "../../utils/common";

.cardHeader {
  padding-top: 10px;
}

.titleMain {
  margin-left: 10px;
  .font17;
}

.titleExtra {
  margin-left: 15px;
  .font12;
  .fontGray;
}

.cardBody {
  padding: 3px 0 4px;
  .row {
    padding: 5px 0 0 15px;
    .font15;
    .label {
      .fontGray
    }
    .content {
      margin-left: 10px;
    }
  }
}

.sep {
  margin: 11px 0 5px 15px;
  .font14;
}

.tips {
  .fontGray;
  .font13;
  padding: 7px 0;
  text-align: center;
}

.button {
  margin: 0 15px;
}
