@import "../../utils/common";

.topBar {
  padding: 10px;
  .item {
    flex: 1;
    .textCenter;
    .font14;
  }
}

.row {
  padding: 15px;
  .font14;
  .col {
    flex: 1;
    .bottom {
      padding-top: 5px;
    }
    .extra {
      .textCenter;
      width: 40px;
      padding: 8px;
      border-radius: 5px;
      color: white;
    }
  }
}

.footer {
  padding: 30px;
  .textCenter;
}

.sep {
  background-color: @LINE;
  height: 1px;
}

.modal {
  width: 80%;
  max-height: 80%;
  padding: 0;
  .font14;
}
