
.radiosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radioContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
}

.radioIcon {
  font-size: 14px;
  padding-right: 6px;
}

.radioText {
  font-size: 13px;
  color: black;
}
