.date {
  font-size: 13px;
  padding-top: 0px;
  height: 30px;
  text-align: center;
  color: crimson;
  background-color: whitesmoke;
}

.bottom {
  width: 100%;
  position: fixed;
  z-index: 6;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
}

.bottom_format {
  font-size: 13px;
  color: blue;
  text-align: right;
  border-top: 1px solid ghostwhite;
  height: 40px;
  padding-top: 8px;
  padding-right: 8px;
}

.text_1 {
  font-size: 15px;
  color: rgba(93,93,93,1);
}

.text_2 {
  width: 40px;
  color: rgba(187,187,187,1);
  font-size: 13px;
}

.text_3 {
  width: 60px;
  color: rgba(93,93,93,1);
  font-size: 13px;
}

.text_4 {
  color: #000000;
  font-size: 13px;
  float: right;
}

.none {
  font-size: 15px;
  color: #000000;
  text-align: center;
  width: 100%;
}
