.date {
    font-size: 18px;
    padding-top: 8px;
    height: 30px;
    text-align: center;
    color: crimson;
    background-color: whitesmoke;
}

.bottom {
    width: 100%;
    position: fixed;
    z-index: 6;
    left: 0;
    bottom: 0;
    background-color: whitesmoke;
}

.bottom_format {
    font-size: 10px;
    color: crimson;
    text-align: center;
    border-top: 1px solid ghostwhite;
    height: 40px;
    padding-top: 10px;
}

.text_style {
  font-size: 15px;
}

.text1_style {
  color: gray;
  font-size: 10px;
}

.text2_style {
  font-size: 10px;
  color: crimson;
  float: right;
}

.none {
  font-size: 20px;
  color: crimson;
  text-align: center;
  width: 100%;
}
