@import "~antd/lib/style/v2-compatible-reset.less";

@primary-color: "#002967";
@error-color: "#F09700";
@btn-danger-bg: "#F09700";
@selected-row-bg: "rgba(0,40,103,0.10)";
@line-color: "rgb(233, 233, 233)";

// @icon-url: "https://at.alicdn.com/t/font_148784_dky7e838xq4obt9";
