
.toolBarItem {
	font-size: 3rem;
	line-height: 6rem;
	text-align: center;
	color: #4E4E4E;
	cursor: pointer;
	padding-left: .5rem;
	padding-right: .5rem;
}

.date {
	color: #BC1E1E;
	font-size: 2.8rem;
	line-height: 5.6rem;
}

.date div {
	padding-left: 3rem;
	padding-top: .4rem;
}

.date div img {
	float: left;
	width: 3rem;
	height: 3rem;
	margin-top: 1.3rem;
}

.row {
	border-bottom: 1px solid #E4E4E4;
}

.rows .row:last-child {
	border-bottom: 0;
}