
.editorCard > div {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 0;
}

.iconBtn i {
  font-size: 15px;
  color: #ff3000;
}

.blankIconBtn i {
  color: #ffffff;
}
