<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="false">
	
	<!-- **************** 账户 START **************** -->
	<!-- <bean id="hisAccountManager" class="com.lenovohit.ssm.treat.manager.impl.HisAccountManagerImpl">
	</bean> -->
	<!-- **************** 账户  END **************** -->
	
	<!-- **************** 就医指南 START **************** -->
	<bean id="hisGuideManager" class="com.lenovohit.ssm.treat.manager.impl.HisGuideManagerImpl">
	</bean>
	<!-- **************** 就医指南  END **************** -->
	
	<!-- **************** 预约 START **************** -->
	<bean id="hisAppointmentManager" class="com.lenovohit.ssm.treat.manager.impl.HisAppointmentManagerImpl">
	</bean>
	<!-- **************** 预约  END **************** -->
	
	<!-- **************** 门诊START **************** -->
	<bean id="hisOutpatientManager" class="com.lenovohit.ssm.treat.manager.impl.HisOutpatientManagerImpl">
	</bean>
	<!-- **************** 门诊  END **************** -->
	
	<!-- **************** 化验 START **************** -->
	<bean id="hisAssayManager" class="com.lenovohit.ssm.treat.manager.impl.HisAssayManagerImpl">
		<property name="imagePath" value="${lis.api.imagePath}" />
	</bean> 
	<!-- **************** 化验  END **************** -->
	
	<!-- **************** 缴费 START **************** -->
	<bean id="hisFeeManager" class="com.lenovohit.ssm.treat.manager.impl.HisFeeManagerImpl">
	</bean>
	<!-- **************** 缴费  END **************** -->
	
	<!-- **************** 门诊预存START **************** -->
	<bean id="hisDepositManager" class="com.lenovohit.ssm.treat.manager.impl.HisDepositManagerImpl">
	</bean>
	<!-- **************** 门诊预存  END **************** -->
	
	<!-- **************** 住院预缴START **************** -->
	<bean id="hisForegiftManager" class="com.lenovohit.ssm.treat.manager.impl.HisForegiftManagerImpl">
	</bean>
	<!-- **************** 住院预缴  END **************** -->
	
	<!-- **************** 住院 START **************** -->
	<bean id="hisInpatientManager" class="com.lenovohit.ssm.treat.manager.impl.HisInpatientManagerImpl">
	</bean>
	<!-- **************** 住院  END **************** -->

	<!-- **************** 患者 START **************** -->
	<bean id="hisPatientManager" class="com.lenovohit.ssm.treat.manager.impl.HisPatientManagerImpl">
	</bean>
	<!-- **************** 患者  END **************** -->
	
	<!-- **************** 收费明细 fee START **************** -->
	<bean id="feeDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.ssm.treat.model.Fee" />
	</bean>
	<bean id="feeManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="feeDao" />
	</bean> 
	<!-- **************** 收费明细 fee END **************** -->
	<!-- **************** TMS 血液科检验 START **************** -->
	<!-- <bean id="xxjdOrderInforDao" class="com.lenovohit.ssm.treat.dao.impl.TmsDaoJapImpl">
		<constructor-arg value="com.lenovohit.ssm.treat.hisModel.XXJDOrderInfor" />
	</bean>
	<bean id="xxjdOrderInforManager" class="com.lenovohit.ssm.treat.manager.impl.TmsManangerImpl">
		<constructor-arg ref="xxjdOrderInforDao" />
	</bean>
	<bean id="xxjdOrderResultDao" class="com.lenovohit.ssm.treat.dao.impl.TmsDaoJapImpl">
		<constructor-arg value="com.lenovohit.ssm.treat.hisModel.XXJDOrderResult" />
	</bean>
	<bean id="xxjdOrderResultManager" class="com.lenovohit.ssm.treat.manager.impl.TmsManangerImpl">
		<constructor-arg ref="xxjdOrderResultDao" />
	</bean> -->
	<!-- **************** TMS 血液科检验 end **************** -->
	
	<!-- **************** EEG 心电图 START **************** -->
<!-- 	<bean id="eEGOrderReportDao" class="com.lenovohit.ssm.treat.dao.impl.EEGDaoJapImpl">
		<constructor-arg value="com.lenovohit.ssm.treat.hisModel.EEGOrderReport" />
	</bean>
	<bean id="eEGOrderReportManager" class="com.lenovohit.ssm.treat.manager.impl.EEGManangerImpl">
		<constructor-arg ref="eEGOrderReportDao" />
	</bean> -->
	<!-- **************** EEG 心电图 end **************** -->
	
	<bean id="hisRestDao" class="com.lenovohit.ssm.treat.dao.impl.HisRestDaoImpl">
		<property name="location" value="${his.kh.api.location}" />
		<property name="postUrl" value="${his.kh.api.postUrl}" />
		<property name="needAuth" value="${his.kh.api.needAuth}" />
		<property name="authorizeUrl" value="${his.kh.api.authorizeUrl}" />
		<property name="appid" value="${his.kh.api.appid}" />
		<property name="secret" value="${his.kh.api.secret}" />
	</bean>
	<bean id="lisWebserviceDao" class="com.lenovohit.ssm.treat.dao.impl.LisWebserviceDaoImpl">
		<property name="location" value="${lis.api.location}" />
	</bean>
	
 	<!-- <bean id="tmsEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="tms" />
		<property name="dataSource" ref="tmsDataSource" />
		<property name="packagesToScan" value="com.lenovohit.ssm.treat.hisModel" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
				<property name="database" value="HSQL"/>
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="database">${tms.jpa.database}</prop>
				<prop key="open-in-view">${spring.jpa.open-in-view}</prop>
				<prop key="hibernate.show_sql">${spring.jpa.show-sql}</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.dialect">${spring.jpa.hibernate.dialect}</prop>
				<prop key="hibernate.ejb.naming_strategy">${spring.jpa.hibernate.naming-strategy}</prop>
				<prop key="hibernate.hbm2ddl.auto">${spring.jpa.hibernate.ddl-auto}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="properties.transactional.percommit">${spring.jpa.properties.transactional.percommit}</prop>
			</props>
		</property>
	</bean>
 	<bean id="eegEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="eeg" />
		<property name="dataSource" ref="eegDataSource" />
		<property name="packagesToScan" value="com.lenovohit.ssm.treat.hisModel" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
				<property name="database" value="HSQL"/>
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="database">${eeg.jpa.database}</prop>
				<prop key="open-in-view">${spring.jpa.open-in-view}</prop>
				<prop key="hibernate.show_sql">${spring.jpa.show-sql}</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.dialect">${spring.jpa.hibernate.dialect}</prop>
				<prop key="hibernate.ejb.naming_strategy">${spring.jpa.hibernate.naming-strategy}</prop>
				<prop key="hibernate.hbm2ddl.auto">${spring.jpa.hibernate.ddl-auto}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="properties.transactional.percommit">${spring.jpa.properties.transactional.percommit}</prop>
			</props>
		</property>
	</bean>  
	
	<bean id="hisEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="his" />
		<property name="dataSource" ref="hisDataSource" />
		<property name="packagesToScan" value="com.lenovohit.ssm.payment.hisModel" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
				<property name="database" value="HSQL"/>
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="database">${his.jpa.database}</prop>
				<prop key="open-in-view">${spring.jpa.open-in-view}</prop>
				<prop key="hibernate.show_sql">${spring.jpa.show-sql}</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.dialect">${his.hibernate.dialect}</prop>
				<prop key="hibernate.ejb.naming_strategy">${spring.jpa.hibernate.naming-strategy}</prop>
				<prop key="hibernate.hbm2ddl.auto">${spring.jpa.hibernate.ddl-auto}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="properties.transactional.percommit">${spring.jpa.properties.transactional.percommit}</prop>
			</props>
		</property>
	</bean> -->
	
</beans>