
.option {
  border: 1px solid rgb(233, 233, 233);
  border-bottom: 0;
  padding: 0;
}

.borderBottom {
  border-bottom: 1px solid rgb(233, 233, 233);
}

/* 搜索输入框 */
.searchInput {
  padding: 0;
  display: table;
}

.searchInput > span {
  display: table-cell;
  border-left: 1px solid rgb(233, 233, 233);
  padding: 5px 12px;
  height: 100% !important;
  white-space: normal;
  vertical-align: middle;
}

.searchInput > span:first-child {
  border-left: 0;
}
.searchInput > span {
  word-break: break-all;
}

/* 通用收费项 */
.commonItem {
  .itemName {
    width: 200px;
  }
  .itemSpecs {
    width: 120px;
  }
  .itemUnit {
    width: 50px;
    text-align: center;
  }
  .salePrice {
    width: 80px;
    text-align: right;
  }
  .manufacturer {
    width: 200px;
  }
  .stock {
    width: 80px;
    text-align: right;
  }
}

/* 诊断 */
.diagnosis {
  .diagnosisCode {
    width: 150px;
  }
  .diagnosisName {
    width: 300px;
  }
}

/* 频次 */
.freq {
  .freqName {
    width: 120px;
  }
  .freqQty {
    width: 60px;
    text-align: right;
  }
  .freqTime {
    width: 140px;
  }
}
/* 挂号信息 */
.regInfo {
  .regId {
    width: 120px;
  }
  .name {
    width: 100px;
    text-align: center;
  }
  .sex {
    width: 20px;
  }
  birth {
    width: 140px;
  }
  regLevel {
    width: 60px;
  }
  regDept {
    width: 80px;
  }
}

/* 药品信息 */
.drugInfo {
  .drugCode {
    width: 120px;
  }
  .name {
    width: 120px;
  }
  .drugType {
    width: 100px;
  }
  drugSpecs {
    width: 120px;
  }
  salePrice {
    width: 100px;
  }
  companyName {
    width: 140px;
  }
}

