.available, .unavailable {
  line-height: 18px;
  padding: 0 4px;
  border-radius: 3px;
}

.available {
  background-color: #00a854;
  color: #ffffff;
}

.unavailable {
  background-color: #e9e9e9;
  color: #bfbfbf;
}
