@import "../../utils/common";

@cardBg: #ffffff;

.profilesContainer {
  padding: 10px;
}

.cardContainer {
  box-shadow: 0px -2px 3px #eeeeee;
  background-color: @cardBg;
  // border-top-left-radius: 8px;
  // border-top-right-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid @LINE;
  // border-bottom-width: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cardBody {
  background-color: @cardBg;
  border-width: 1px;
  border-color: @LINE;
  border-top-width: 0;
  border-bottom-width: 0;
}
.hospitalContainer {
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8px;
}
.hospName {
  flex: 1;
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.bindBtn {
  border: 1px solid @IOS_BLUE;
  padding: 4px 10px;
  border-radius: 4px;
}
.bindText {
  color: @IOS_BLUE;
  font-size: 12px;
}
.bindedText {
  color: @FONT_LIGHT_GRAY1;
  font-size: 12px;
}
.cardNo {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}
.patientContainer {
  margin: 8px 15px 0 15px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(0,122,255,.1);
  align-items: center;
  border-radius: 4px;
}
.name {
  color: @FONT_GRAY;
  font-size: 10px;
  font-weight: 600;
}
.idNo {
  flex: 1;
  color: @FONT_GRAY;
  font-size: 10px;
  text-align: right;
}

.btn {
  height: 40px;
  margin: 10px;
  margin-top: 0;
}

.modal {
  width: 80%;
  margin-bottom: 40px;
}
