.m_t4_cb_container {
	margin: 10px;
	width: 232px;
	height: 300px;
	background-color: rgba(255, 255, 255, 1);
	padding-top : 76px;
}

.m_t4_cb_icon {
	height: 68px;
	width: 68px;
	background-size: 68px 68px;
	margin-left: auto;
	margin-right: auto;
}

.m_t4_cb_label {
	color: rgba(78, 78, 78, 1);
	font-size: 36px;
	text-align: center;
	margin: 34px auto;
}