.text {
 padding-left: 20px;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}

.logo {
 height:180px;
  width: 300px;
  margin-top: 20px;
  margin-left: 38px;
  margin-right: 20px;
}
.input{
  //height:100px;
  //width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius:5px;
  background-color: #F0F0F0;
  font-size: 13px;
}
.button{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
