.protrait {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  margin: 0 auto;
  background-image: url("../../assets/images/default-portrait.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 40px;
}
.text {
  text-align: center;
}
.contaner {
  height: 20%;
}
