.confirm_container {
	padding: 1rem;
	font-size: 3rem;
	text-align: center;
}

.confirm_infoContainer {
	position: relative;
}

.confirm_info {
	margin-top: 2rem;
	line-height: 6rem;
}

.confirm_btnContainer {
	margin-top: 2rem;
}

.confirm_btnContainer .confirm_btnCol {
	padding-left: 1rem;
}

.confirm_btnContainer .confirm_btnCol:first-child {
	padding-left: 0;
}

