/* Increase grid spacing of 16px  */
.code-box-demo .ant-row {
  margin-left: -8px;
  margin-right: -8px;
}
.code-box-demo .ant-row > div {
  padding: 0 8px;
}

.formWrapper {
  margin: 55px 60px;
}

.payInfo {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-size: 16px;
  font-weight: 600;
  .payInfo_amtInfo {
    display: flex;
    justify-content: flex-end;
  }
  .payInfo_amtInfo_layout {
    display: flex;
    align-items: center;
  }
  .payInfo_amt {
    font-size: 20px;
    color: #F09700;
  }
  .payInfo_formCol > div {
    margin-bottom: 0;
    // height: 40px;
  }
  .payInfo_currencyInput {
    text-align: right;
  }
}

.payHr {
  margin: 20px 0;
  opacity: .1;
}

.payContent {
  // margin: 60px 20px;
  height: 200px;
  .payContent_msg {
    margin-top: 20px;
    font-size: 16px;
  }
}

.payChannel {
  height: 48px;
  background-color: white !important;
  img {
    float: left;
    height: 32px;
    width: 32px;
    margin: 2px;
  }
  span {
    height: 32px;
    font-weight: normal;
    float: left;
    margin: 5px;
    font-size: 16px;
  }
}

// .ant-radio-button-wrapper-checked {
//   span {
//     .alipay {
//       border: 1px solid #25abee;
//       color: #25abee;
//     }
//   }
// }
//
// .ant-radio-button-wrapper-checked {
//   .wepay {
//     border: 1px solid #00b700;
//     color: #00b700;
//   }
// }
