@import "../../utils/common";
.container {
  //background-color: @IOS_GRAY_BG;
}
.itemPayTotal {
  background-color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: @IOS_GRAY_FONT;
}
.itemPayReduce {
  background-color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: @IOS_GRAY_FONT;
}
.itemPayRemained {
  background-color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: @IOS_BLUE;
}
.button {
  margin: 10px;
}