.container {
	height: 6rem;
	border-radius: .3rem;
	font-size: 3.5rem;
	line-height: 6.2rem;
	text-align: center;
	/*box-shadow: .2rem .2rem .1rem #888888;*/
	cursor: pointer;
	overflow: hidden;
}

.normal {
	background-color: #BC1E1E;
	color: #ffffff;
}

.outline {
	background-color: #ffffff;
	border: 1px solid #BC1E1E;
	color: #BC1E1E;
}

.disabled {
	background-color: #999999;
}

.loadingSpinner {
	/*width: 3rem;*/
	height: 3rem;
	vertical-align: middle;
}