
.recharge_row {
	border-bottom: 1px solid #E4E4E4;
}

.recharge_rows .row:last-child {
	border-bottom: 0;
}
.recharge_toolBarItem {
  text-align: center;
  line-height: 6rem;
  cursor: pointer;
  font-size: 2.5rem;
}

/* .toolBarItem div {
  padding-left: 3rem;
} */

.recharge_toolBarItem img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 1rem;
  top: 1.5rem;
}