@NAV_BAR_LINE: #96969A; // 'rgba(204,204,204,1)', // '#CCCCCC',
@NAV_BAR_BG: rgba(68,92,149,1); // '#445C95',
@NAV_TITLE_TEXT: rgba(0,0,0,1); // '#000000',
@NAV_BACK_TEXT: rgba(146,146,146,1); // '#929292',
@NAV_BACK_ICON: rgba(146,146,146,1); // '#929292',
@NAV_BTN: rgba(0,122,255,1); // '#007AFF',

@TAB_BAR_LINE: rgba(204,204,204,1); // '#CCCCCC',
@TAB_BAR_BG: rgba(255,255,255,1); // '#FFFFFF',
@TAB_BTN: rgba(146,146,146,1); // '#929292',
@TAB_BTN_ACTIVE: rgba(0,122,255,1); // '#007AFF',

@FONT: rgba(0,0,0,1); // '#000000', 工作区主字体颜色：（黑）
@FONT_GRAY: rgba(93,93,93,1); // '#5D5D5D', 工作区主字体颜色：（深）
@FONT_LIGHT_GRAY: rgba(130,130,130,1); // '#828282', 工作区主字体颜色：（浅）
@FONT_LIGHT_GRAY1: rgba(187,187,187,1); // '#BBBBBB', 工作区主字体颜色：（更浅）
@LINE: rgba(230,230,230,1); // '#E6E6E6', 工作区分割线颜色
@VIEW_BG: #f8f7fd; // 'rgba(227,227,230,1)', //'#E3E3E6', 工作区背景色

@IOS_BLUE: rgba(0,122,255,1); // '#007AFF', 苹果蓝色
@IOS_RED: rgba(255,59,48,1); // '#FF3B30', 苹果红色
@IOS_GREEN: rgba(76,217,100,1); // '#4CD964', 苹果浅绿
@IOS_YELLOW: rgba(255,225,0,1); // '#FFE100', 苹果黄色
@IOS_DARK_GRAY: rgba(146,146,146,1); // '#929292', 苹果深灰
@IOS_LIGHT_GRAY: rgba(200,199,204,1); // '#C8C7CC', 苹果浅灰
@IOS_GRAY_BG: rgba(248,248,248,1); // '#F8F8F8', 苹果浅灰底色

@IOS_NAV_BG: rgba(245,245,247,1); // #f5f5f7 苹果导航栏底色
@IOS_NAV_LINE: rgba(167,167,170,1); // #a7a7aa 苹果导航栏线条
@IOS_BG: rgba(239,239,244,1); // #efeff4 苹果经典背景色
@IOS_SEP_LINE: #dcdce1; // 'rgba(200,199,204,1)',  //#c8c7cc 苹果工作区分割线颜色
@IOS_ARROW: rgba(199,199,204,1); // #c7c7cc 苹果箭头颜色
@IOS_GRAY_FONT: rgba(142,142,147,1); // #8e8e93 苹果灰色字体颜色
@IOS_SEARCH_BG: rgba(202,201,207,1); // #cac9cf 搜索框背景颜色

@ORANGE: rgba(255,102,0,1); // '#FF6600',
@BROWN: rgba(102,51,0,1); // '#663300',
@PURPLE: rgba(102,0,102,1); // '#660066',

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.sep5 {
  height: 5px;
  background-color: @IOS_GRAY_BG;
}
.sep10 {
  height: 10px;
  background-color: @IOS_GRAY_BG;
}
.sep15 {
  height: 15px;
  background-color: @IOS_GRAY_BG;
}
.sep20 {
  height: 20px;
  background-color: @IOS_GRAY_BG;
}
.sep40 {
  height: 40px;
  background-color: @IOS_GRAY_BG;
}

.textCenter {
  text-align: center;
}

.fontGray {
  color: @FONT_GRAY;
}

.fontOrange {
  color: @ORANGE;
}

.fontBlack {
  color: @FONT;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font20 {
  font-size: 20px;
}

.scrolly {
  overflow-y: scroll;
}

.flex {
  display: flex;
}

.flex1 {
  .flex;
  flex: 1;
}

.listFooterContainer {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  color: @FONT_LIGHT_GRAY;
}

.emptyView {
  // height: 60px;
  border-top: 1px solid @LINE;
  border-bottom: 1px solid @LINE;
  font-size: 13px;
  color: @FONT_LIGHT_GRAY;
  line-height: 18px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyViewContainer {
  height: 100%;
  background-color:@IOS_GRAY_BG;
}
.transparentEmptyView {
  border-width: 0;
  background: rgba(255, 255, 255, 0);
}

// 定高的容器文字超出的部分自动显示为省略号
.ellipsisText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  height: 40px;
}

.navBtnIcon {
  line-height: 20px;
  font-size: 12px !important;
  color: @FONT_GRAY;
}

.navBtnText {
  line-height: 20px;
  padding-left: 6px;
  font-size: 13px;
  color: @FONT_GRAY;
}

.defaultIcon {
  display: block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  font-size: 14px;
}

.chevronIcon {
  width: 34px;
  color: @FONT_LIGHT_GRAY1
}

// logo
.logo { background-image: url('../assets/images/logo/logo-m.png'); }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
// icons for tab bar
.hosp { background-image: url('../assets/images/icons/tab-hosp.png'); } // 医院
.hospActive { background-image: url('../assets/images/icons/tab-hosp-active.png'); }
.hc { background-image: url('../assets/images/icons/tab-hc.png'); } // 健康
.hcActive { background-image: url('../assets/images/icons/tab-hc-active.png'); }
.comm { background-image: url('../assets/images/icons/tab-comm.png'); } // 社区
.commActive { background-image: url('../assets/images/icons/tab-comm-active.png'); }
.guide { background-image: url('../assets/images/icons/tab-guide.png'); } // 导诊
.guideActive { background-image: url('../assets/images/icons/tab-guide-active.png'); }
.me { background-image: url('../assets/images/icons/tab-me.png'); } // 我的
.meActive { background-image: url('../assets/images/icons/tab-me-active.png'); }

// icons for main menu
.outpatientAppoint { background-image: url('../assets/images/icons/outpatient-appoint.png'); } // 预约挂号
.outpatientPayment { background-image: url('../assets/images/icons/outpatient-payment.png'); } // 缴费
.reports { background-image: url('../assets/images/icons/reports.png'); } // 报告查询
.outpatientAppointRecords { background-image: url('../assets/images/icons/outpatient-appoint-records.png'); } // 预约记录
.outpatientSignIn { background-image: url('../assets/images/icons/outpatient-sign-in.png'); } // 预约签到
.outpatientRefund { background-image: url('../assets/images/icons/outpatient-refund.png'); } // 门诊退费
.outpatientTreatRecords { background-image: url('../assets/images/icons/outpatient-treat-records.png'); } // 就诊记录
.outpatientPaymentRecords { background-image: url('../assets/images/icons/outpatient-payment-records.png'); } // 消费记录
.inpatientInfo { background-image: url('../assets/images/icons/inpatient-info.png'); } // 住院单查询
.inpatientPrepaidRecords { background-image: url('../assets/images/icons/inpatient-prepaid-records.png'); } // 住院预缴记录查询
.inpatientDailyBill { background-image: url('../assets/images/icons/inpatient-daily-bill.png'); } // 住院日清单
.news { background-image: url('../assets/images/icons/news.png'); } // 健康资讯
.consult { background-image: url('../assets/images/icons/consult.png'); } // 咨询医生
.forum { background-image: url('../assets/images/icons/forum.png'); } // 论坛

// default images
.userPortrait { background-image: url('../assets/images/me/default-portrait.png'); } // 用户默认头像（未上传头像时显示）
.userBg { background-image: url('../assets/images/me/default-bg.png'); } // 用户页顶端背景图
.hospLogo { background-image: url('../assets/images/hosp/default-logo.png'); } // 医院默认logo（未上传logo时显示）
.hospScenery { background-image: url('../assets/images/hosp/default-scenery.png'); } // 医院默认相册图片（无图片时显示）
.hospBg { background-image: url('../assets/images/hosp/default-bg.png'); } // 医院微主页背景图
@docPortrait: url('../assets/images/hosp/default-doc-portrait.png'); // 有些地方需要直接使用变量
.docPortrait { background-image: @docPortrait } // 医生默认头像（未上传头像时显示）
.docBg { background-image: url('../assets/images/hosp/default-bg.png'); } // 医生微主页背景图

// images for payment channel
.alipay { background-image: url('../assets/images/pay/alipay.png'); } // 支付宝
.wxpay { background-image: url('../assets/images/pay/wxpay.png'); } // 微信
.unionpay { background-image: url('../assets/images/pay/unionpay.png'); } // 银联

// images for cards
.md { background-image: url('../assets/images/cards/md.jpg'); } // 社保卡
.mdb { background-image: url('../assets/images/cards/mdb.jpg'); } // 社保卡 - 灰

// images for ads
.ad1 { background-image: url('../assets/images/adImgs/ad-001.jpg'); }
.ad2 { background-image: url('../assets/images/adImgs/ad-002.jpg'); }
.ad3 { background-image: url('../assets/images/adImgs/ad-003.jpg'); }
.ad4 { background-image: url('../assets/images/adImgs/ad-004.png'); }
