
.listCard > div {
  padding: 5px;
}

.total {
  font-size: 16px;
  border-bottom: 3px dotted rgb(233, 233, 233);
  height: 65px;
  text-align: right;
  line-height: 65px;
}

.total span {
  font-size: 20px;
  color: #f56a00;
}
