
.leftCol {
  background-color: #ffffff;
  padding: 5px;
  padding-left: 3px;
  height: 100%;
}

.rightCol {
  background-color: #ffffff;
  padding: 5px;
  padding-right: 0
}


.rightBtnContainer {
  margin-bottom: 8;
  text-align: 'right';
  height: '50px'
}

/**
 * 左侧列表区
 */
.searchForm >div >div {
  padding-bottom: 5px;
}
.searchForm >div >div:first-child {
  padding-right: 5px;
}
.searchForm >div >div:last-child {
  padding-left: 5px;
}

.searchForm button {
  width: 100%;
}

.leftListContainer {
  margin-top: 10px;
  sursor: pointer;
}

.leftListContainer > div {
  padding: 3px;
}

/**
 * 基础信息
 */
.baseInfo > div {
  padding: 12px;
}
.baseInfo > div > div {
  padding: 3px;
}

.selectedRow {
  background-color: @selected-row-bg;
}

/**
 * 标签页
 */
.tabPane {
  padding: 3px;
  overflow: visible;
}

.tabPane > div > div {
  padding: 3px;
}

.rightAlignCol {
  text-align: right;
}

