

.login_guidePic {
	margin: 2.5rem auto;
	display: block;
	height: 25rem;
	vertical-align: middle;
	cursor: pointer;
}

.login_guideTextContainer {
	margin: 0 auto;
	text-align: center;
}

.login_guideText {
	font-size: 4rem;
}
