<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="false">

	<!-- **************** 机构 Post START **************** -->
	<bean id="postDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.bdrp.org.model.Post" />
	</bean>
	<bean id="postManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="postDao" />
	</bean>
	<!-- **************** 机构 Post END **************** -->

	<!-- **************** 机构 Org START **************** -->
	<bean id="orgDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.bdrp.org.model.Org" />
	</bean>
	<bean id="orgManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="orgDao" />
	</bean>
	<!-- **************** 机构 Org END **************** -->

	<!-- **************** 机构 Dep START **************** -->
	<bean id="depDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.bdrp.org.model.Dep" />
	</bean>
	<bean id="depManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="depDao" />
	</bean>
	<!-- **************** 机构 Dep END **************** -->

	<!-- **************** 机构 Person START **************** -->
	<bean id="personDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.bdrp.org.model.Person" />
	</bean>
	<bean id="personManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="personDao" />
	</bean>
	<!-- **************** 机构 Person END **************** -->

	<bean id="personInOrgDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.bdrp.org.model.PersonInOrg" />
	</bean>

	<bean id="personInOrgManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="personInOrgDao" />
	</bean>
	
	<bean id="roleDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl" >
		<constructor-arg value="com.lenovohit.bdrp.org.model.Role" />
	</bean>
	<bean id="roleManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="roleDao" />
	</bean>
	
	<bean id="optUserDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.bdrp.org.model.OptUser" />
	</bean>
	<bean id="optUserManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="optUserDao" />
	</bean>
	
</beans>