@import "../../utils/common";

.container {
  width: 100%;
  height: 100%;
  background-color: @IOS_GRAY_BG;
  overflow-y: scroll;
  overflow-x: hidden;
}

.itemContainer {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @LINE;
  background-color: white;
}

.channel {
  font-size: 13px;
  flex: 1;
  color: @FONT_GRAY;
}

.amtContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date {
  font-size: 13px;
  color: @FONT_LIGHT_GRAY;
}

.amt {
  text-align: right;
  font-size: 13px;
  color: black;
}
