<script src="/web/js/lib/echarts.min.js"></script>
<script src="/web/js/lib/ReactRouter.js"></script>
<script src="/web/js/lib/antd.js"></script>
<link rel="stylesheet" type="text/css" href="/web/styles/base.css" />
<link rel="stylesheet" type="text/css" href="/web/styles/antd.css" />

<div id="body">
    加载中...
</div>
<script src="/web/js/homepage.js"></script>
