
.procurePlanAuitdTopCard {
  margin-bottom: 10px;
}

.infoCard > div {
  padding: 5px;
}

.topCard > div {
  padding: 5px;
  padding-bottom: 0;
}

.bottomCard > div {
  padding: 5px;
}

.searchRow > div > div {
  margin-right: 0 !important;
}

.searchScopeRadio {
  width: 100%;
}

.searchScopeRadio > label {
  width: 50%;
  text-align: center;
}

