@import "../../utils/common";

.container {
  flex: 1;
  background-color: @IOS_GRAY_BG;
  display: flex;
  flex-direction: column;
}

.toolBar {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.topBar {
  border-bottom: 1px solid @LINE;
  justify-content: center;
}

.selectDate {
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding-right: 8px;
}

.switchIcon {
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  font-size: 10px;
  color: @FONT_LIGHT_GRAY;
}

.bottomBar {
  border-top: 1px solid @LINE;
  justify-content: flex-end;
  padding-right: 15px;
  font-size: 14px;
  color: @IOS_BLUE;
}

.listContainer {
  flex: 1;
}

.date {
  font-size: 13px;
  padding-top: 0px;
  height: 30px;
  text-align: center;
  color: crimson;
  background-color: whitesmoke;
}

.bottom {
  width: 100%;
  position: fixed;
  z-index: 6;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
}

.bottom_format {
  font-size: 13px;
  color: blue;
  text-align: right;
  border-top: 1px solid ghostwhite;
  height: 40px;
  padding-top: 8px;
  padding-right: 8px;
}

.text_1 {
  font-size: 15px;
  color: rgba(93,93,93,1);
}

.text_2 {
  width: 40px;
  color: rgba(187,187,187,1);
  font-size: 13px;
}

.text_3 {
  width: 60px;
  color: rgba(93,93,93,1);
  font-size: 13px;
}

.text_4 {
  color: #000000;
  font-size: 13px;
  float: right;
}

.none {
  font-size: 15px;
  color: #000000;
  text-align: center;
  width: 100%;
}
.title {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  color: @IOS_DARK_GRAY,
}
.content {
  color: @IOS_GRAY_FONT;
  font-size: 13px;
}

.header {
  font-size: 13px;
  padding: 10px;
  padding-left: 25px;
  border-bottom: 1px solid @LINE;
  background-color: white;
}

