<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="false">
	
	<!-- **************** OptUser START **************** -->
	<bean id="optUserDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.ssm.app.el.model.OptUser" />
	</bean>
	<bean id="optUserManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="optUserDao" />
	</bean>
	<!-- **************** OptUser   END **************** -->
	
	<!-- **************** Simple START **************** -->
	<bean id="sampleDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.ssm.app.el.model.Sample" />
	</bean>
	<bean id="sampleManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="sampleDao" />
	</bean>
	<!-- **************** Simple   END **************** -->
	
	<!-- **************** Community START **************** -->
	<bean id="consultRecordDao" class="com.lenovohit.core.dao.impl.GenericDaoJpaImpl">
		<constructor-arg value="com.lenovohit.ssm.app.community.model.ConsultRecord" />
	</bean>
	<bean id="consultRecordManager" class="com.lenovohit.core.manager.impl.GenericManagerImpl">
		<constructor-arg ref="consultRecordDao" />
	</bean>
	<!-- **************** Community   END **************** -->
</beans>