.leftCard > div {
  padding: 5px;
}

.form {
  margin-bottom: 5px;
}

.form > div > div > div {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.procurePlanTopCard {
  margin-bottom: 10px;
}

.infoCard {
  margin-bottom: 5px;
  > div {
    padding: 10px 5px;
  }
}

.bottomCard > div {
  padding: 5px;
}

.actionFormOperating {
  display: flex;
  justify-content: flex-end;
}

.btnLeft {
  margin-right: 10px;
}
.btnRight {
  margin-right: 0;
}
