@import "../../utils/common";

.patientContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 15px;
  height: 45px;
}

.title {
  font-size: 9px;
  color: @FONT_LIGHT_GRAY1;
  padding: 2px;
}

.patientNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.patientName {
  font-size: 13px;
  font-weight: 600;
  color: @FONT_GRAY;
  margin-right: 4px;
}

.iconContainer {
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  padding-bottom: 3px;
}

.icon {
  font-size: 10px;
  color: @FONT_LIGHT_GRAY1;
}
