
.title {
	font-size: 2.2rem;
	line-height: 2.8rem;
	color: #999999;
	padding: 1rem;
	white-space: nowrap;
	overflow: hidden;
}

.item {
	font-size: 2.2rem;
	line-height: 2.8rem;
	padding: 1rem;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.amt {
	text-align: right;
}

.state {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}


