@import "../../utils/common";

.primaryIconsContainer {
  border-top: 1px solid @LINE;
  border-bottom: 1px solid @LINE;
  background-color: white;
}
.primaryItemContainer {
}
.primaryItem {
  text-align: center;
  border-right: 1px solid @LINE;
}
.primaryIconContainer {
  margin:0px auto;
}
.primaryText {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.slideMenuContainer {
  border-bottom: 1px solid @LINE;
}
.itemContainer {
}
.item {
  flex: 1;
  text-align: center;
  // border-right: 1px solid @LINE;
}
.iconContainer {
  margin:0px auto;
}
.text {
  font-size: 13px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}


.slideContainer {
  position: relative;
  background-color: white;
}
.swipeContainer {
  // border-bottom: 1px solid @LINE;
}
.wrapper {
}

.paginationContainer {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  padding-top: 2px;
}
.dotsContainer {
  margin: 0 auto;
  height: 4px;
}
.dot {
  display: inline-block;
  height: 4px;
  border-radius: 2px;
}
