@import "../../utils/common";

.container {
}

.typeContainer {
  background-color: white;
  margin-top: 15px;
  border-top: 1px solid @LINE;
  border-bottom: 1px solid @LINE;
}

.typeName {
  border-bottom: 1px solid @LINE;
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 10px 15px;
  text-align: center;
}

.itemContainer {
  padding: 0 0 0 15px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid @LINE;
}

.name {
  font-size: 14px;
  color: black;
  flex: 1;
  text-align: left !important;
}

.btn {
  border: 1px solid @ORANGE;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  line-height: 25px;
  font-size: 12px;
  color: @ORANGE;
  text-align: center;
}

.topBar {
  height: 40px;
  background-color: white;
  border-bottom: 1px solid @LINE;
  display: flex;
  flex-direction: row;
  align-items: center;
}
