@import "../../utils/common";

.container {
  width: 100%;
  height: 100%;
  background-color: @IOS_GRAY_BG;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.brief {
  font-size: 13px;
  color: black;
  line-height: 20px;
}

.contactItemContainer {
  margin-bottom: 6px;
  font-size: 13px;
}

.descTitleContainer {
  border-bottom: 1px solid @LINE;
  padding: 0 0 8px 0;
}

.descTitle {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.descContent {
  font-size: 13px;
  color: black;
  line-height: 20px;
  padding: 6px 0 8px 0;
}
