@import "../../utils/common";

.formContainer {
}

.rowContainer {
  height: 40px;
  border: 1px solid @LINE;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.iconContainer {
  background-color: @IOS_GRAY_BG;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  text-align: center;
}
.icon {
  font-size: 18px;
  color: @FONT_LIGHT_GRAY1;
}

.input {
  flex: 1;
  height: 40px;
  // line-height: 40px;
  padding-left: 10px;
  border-width: 0;
}

.sendBtn {
  background-color: @IOS_GRAY_BG;
  width: 80px;
  height: 40px;
  font-size: 9px;
  color: @IOS_BLUE;
  text-align: center;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}
