
.cash_stepMsg, .payAmt {
	font-size: 4rem;
	font-weight: 500;
	line-height: 12rem;
	cursor: pointer;
}

.cash_payAmt {
	position: absolute;
	width: 100%;
	height: 20rem;
	font-size:8rem;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding-bottom: 2rem;
	line-height: 18rem;
}

.cash_payAmt font {
  color: #BC1E1E;
  font-weight: 800;
  color: #DB5A5A;
}

.cash_balance {
	position: absolute;
	width: 100%;
	bottom: 2rem;
  line-height: 10rem;
}

.cash_balance font {
  color: #BC1E1E;
  font-weight: 500;
}

.cash_tip {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 4rem;
  padding: 3.5rem 2rem;
}

.cash_tip div:first-child {
	text-align: center;
}

.cash_tip li {
	list-style: none;
	padding-left: 0;
}

.cash_tip i {
	font-size: 1.5rem;
	line-height: 4rem;
	vertical-align: middle;
	padding-bottom: .5rem;
}