.full{
    height: 100%;
    width: 100%;
}
.container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0
}
.carousel {
    height:175px;
    width: 100%;
    img{
        height: 100%;
        width: auto;
        vertical-align: top
    }
}
.news{
  width: 100%;
  height: 200px;
  .desc{
    width: 100%;
    height: 50px;
    float:left;
    padding-left: 10px;
    margin-top: -50px;
    background-color: rgba(5,20,19,0.5);
    z-index: 9999;
    color: #ffffff;
    .title{
      font-size: 14px;
      padding: 5px 0;
    }
    .level{
      font-size: 12px;
      padding: 5px 0;
    }
  }
  img{
    float:left;
    width: 100%;
    height:200px;
  }
}
.address{
  height:40px;
  background-color:  #ffffff;
  margin-bottom: 10px;
  padding-left:15px;
  .content{
    float:right;
    width:100%;
    height:40px;
    line-height: 40px;
    padding-right:47px;
    font-size: 13px;
    color: #747474;
    display: flex;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    span{
      display: block;
      height:15px;
      width:15px;
      float: left;
      background-size: 100% 100%;
    }
    font{
      display: block;
      float: left;
    }
  }
  .phone{
    float:right;
    width:47px;
    border-left: 1px solid #ddd;
    height:40px;
    margin-left:-47px;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    justify-content:center;
    span{
      background-size: 100% 100%;
      height:15px;
      width:15px;
    }
  }
}
.i_appoint{
  background-image: url(../assets/images/m_appoint.png);
}
.i_daily{
  background-image: url(../assets/images/m_daily.png);
}
.i_foregift{
  background-image: url(../assets/images/m_foregift.png);
}
.i_inhospital{
  background-image: url(../assets/images/m_inhospital.png);
}
.i_recharge{
  background-image: url(../assets/images/m_recharge.png);
}
.i_refund{
  background-image: url(../assets/images/m_refund.png);
}
.i_report{
  background-image: url(../assets/images/m_report.png);
}
.i_location{
  background-image: url(../assets/images/location.png);
}
.i_phone{
  background-image: url(../assets/images/phone.png);
}
.menu {
  margin-left:10px;
  height: 45.06px;
  .icon{
    float:left;
    width: 24%;
      height: 100%;
      margin-bottom: 10px;
      background-size:100% 100%;
  }
  .text{
    float:left;
    padding-left:5px;
    .name{
      text-align:left;
      font-size: 16px;
      height: 25.06px;
      line-height: 25.06px;
      color: #333333;
    }
    .desc{
      text-align:left;
      font-size: 11px;
      height: 20px;
      line-height: 20px;
      color: #999999;
      margin-top: 2px;
    }
  }
}
.item {
  height: 50px;
}
.flex {
  padding-left: 10px;
}
.placeholder {
  background-color: #ebebef;
  color: #000000;
  text-align: left;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
.info{
  .title{
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    padding: 0px 15px ;
    margin: 12px 0px 5px 0px;
    color: #999;
  }
  .content{
    color: rgb(142, 142, 142);
    font-size: 17px;
    padding:  15px ;
    background-color: #ffffff;
  }
}
