.allContainer {
  height: 100%;
}
.RTDescContainer{
  height:80px;
  //height: 'auto';
}
.RTName{
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  padding-left: 10px;
}
.RTDesc{
  padding-top: 5px;
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
}
.separator {
  height:1px;  /*设置div的大小*/
  background-color: lightgrey;
}
.headerContainer{
  height:30px;  /*设置div的大小*/
  align-items: center;
  justify-content: left;
  display: flex;/*边框*/
  width: 100%;
  background-color: white;
}
.headerName{
  flex: 3;
  margin-left: 10px;
  font-size: 13px;
  align-items: center;
  color: #999999;
}
.headerResult{
  align-items: center;
  flex: 1;
  font-size: 13px;
  color: #999999;
}
.headerState{
  align-items: center;
  flex: 1;
  font-size: 13px;
  color: #999999;
}

.rowContainer{
  height:50px;  /*设置div的大小*/
  align-items: center;
  justify-content: left;
  display: flex;/*边框*/
}
.co1{
  flex: 3;
  padding-left: 10px;
}
.co1Name{
  font-size: 13px;
  color:black;
}
.co1Refer{
  padding-top: 5px;
  font-size: 13px;
  color:#999999;
}
.co2{
  flex: 1;
}
.co2Black{
  font-size: 13px;
  flex: 1;
  color:black;
}
.co2Red{
  font-size: 13px;
  flex: 1;
  color:red;
}
.co2Green{
  font-size: 13px;
  flex: 1;
  color:#6CD809;
}
.co3{
  font-size: 13px;
  flex: 1;
  color:#6CD809;
}
.icon{
  padding-left: 8px;
  height:17px;
}
.separator1 {
  //float:left;
  height:10px;  /*设置div的大小*/
  background-color: rgb(248,248,248);
  //border:0.002px solid lawngreen;    /*边框*/
}
