.logo {
  width:44px;
  height:44px;  /*设置div的大小*/
  border-radius: 22px;
  border:1px solid #F68B24;    /*边框*/
  text-align: center;        /*文字水平居中对齐*/
  line-height: 44px;        /*设置文字行距等于div的高度*/
  overflow:hidden;
  margin-left: 10px;
  //float:left;

}

.separator {
  //float:left;
  height:1px;  /*设置div的大小*/
  background-color: lightgrey;
  //border:0.002px solid lawngreen;    /*边框*/
}
.container{
  height:45px;  /*设置div的大小*/
  align-items: center;
  justify-content: left;
  //margin-left: -10px;
  //border:1px solid red;
  display: flex;/*边框*/
  background-color: white;
  //margin-bottom: -10px;
}
.rowcontainer{
  height:50px;  /*设置div的大小*/
  align-items: center;
  justify-content: left;
  //margin-left: -10px;
  //border:1px solid green;
  display: flex;/*边框*/
  background-color: white;
}
.c1{
  margin-left: 10px;
  //border:1px solid red;
  width: 220px;
}
.name{
  margin-left: 10px;
  //border:1px solid red;
  width: 380px;
  color: #999999;
}
.c2{
  color: #999999;
  padding-left: 28px;
  width: 120px;
  //border:1px solid red;
}
.c3{
  color: #999999;
  width: 100px;
  padding-left: 15px;
  //border:1px solid green;
  margin-right: 0px;
}
.status{
  width: 100px;
  //border:1px solid green;
  //margin-right: 0px;
  font-size: 12px;
  //margin-left: 6px;
  //text-align: center;
}
.header{
  height:80px;

  background-color: white;
}
.item{
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  //margin-top: 10px;
}
.introduce{
  padding-top: 8px;
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
}
.refer{
  margin-top: 5px;
  color: #999999;
  font-size: 12px;
}
.icon{
  padding-left: 8px;
  height:17px;
}
.co1{
  padding-left: 12px;
  width: 80px;
  color:black;
}
.co2{
  padding-left: 12px;
  width: 80px;
  color:red;
}
.co3{
  padding-left: 12px;
  width: 80px;
  color:#6CD809;
}
.separator1 {
  //float:left;
  height:10px;  /*设置div的大小*/
  background-color: rgb(248,248,248);
  //border:0.002px solid lawngreen;    /*边框*/
}
