.logo {
  width:44px;
  height:44px;  /*设置div的大小*/
  border-radius: 22px;
  border:1px solid #F68B24;    /*边框*/
  text-align: center;        /*文字水平居中对齐*/
  line-height: 44px;        /*设置文字行距等于div的高度*/
  overflow:hidden;
  margin-left: 10px;
  color:#F68B24 ;
  //float:left;

}

.content {
  //float:left;
  margin-left: 10px;
  width:200px;
  height:44px;  /*设置div的大小*/
  //border:1px solid #F68B24;    /*边框*/
}
.container{
  height:55px;  /*设置div的大小*/
  align-items: center;
  //border:1px solid green;
  display: flex;/*边框*/
}
.name{
  margin-top: 5px;
}
.date{
  color: #999999;
  font-size: 12px;
}
.header{
  font-weight: bold;
}
.profile{
  margin-top: 10px;
  //margin-bottom: 10px;
}
.section{
  margin-left: -1000;
  //border:1px solid #F68B24;
}
