
.list_title {
	font-size: 2.2rem;
	line-height: 2.8rem;
	color: #999999;
	padding: 1rem;
	white-space: nowrap;
	overflow: hidden;
}

.list_item {
	font-size: 2.2rem;
	line-height: 2.8rem;
	padding: 1rem;
}

.list_center {
	text-align: center;
}

.list_right {
	text-align: right;
}

.list_amt {
	text-align: right;
}

.list_state {
	text-align: center;
}

.list_nowrap {
	white-space: nowrap;
}


