@import "../utils/common";

.navBar {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.navBorderBottom {
  border-bottom: 1px solid @NAV_BAR_LINE;
}

.leftBtnContainer {
  width: 45px;
  height: 45px;
  text-align: center;
}

.leftIcon {
  font-size: 18px;
  font-weight: 900;
  color: @FONT_LIGHT_GRAY1;
  line-height: 45px;
}

.title {
  flex: 1;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  line-height: 42px;
  padding-top: 3px;
}
