<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">
	
	<bean id="patientDao" class="com.infohold.core.dao.impl.GenericDaoJpaImpl" >
		<constructor-arg value="com.infohold.elh.base.model.Patient" />
	</bean>
	<bean id="userPatientDao" class="com.infohold.core.dao.impl.GenericDaoJpaImpl" >
		<constructor-arg value="com.infohold.elh.base.model.UserPatient" />
	</bean>
	
	<bean id="patientManager" class="com.infohold.core.manager.impl.GenericManagerImpl" >
		<constructor-arg ref="patientDao" />
	</bean>
	<bean id="userPatientManager" class="com.infohold.core.manager.impl.GenericManagerImpl" >
		<constructor-arg ref="userPatientDao" />
	</bean>
</beans>
