// RegVisitTree

.searchTree {
  padding-right: 15px;
  border-right: 1px solid #eee;
}

.matchColor {
  color: #f50;
}

.itemIcon {
  margin-right: 4px;
}

.itemMatchIcon {
  margin-right: 4px;
  color: #f50;
}

.modelInnerTable {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
