@import "../../utils/common";

.container {
  background-color: @IOS_GRAY_BG;
}

.text {
 padding-left: 20px;
  font-size: 13px;
  color: #999999;
  margin-top: 30px;
  padding-right: 20px;
}

.text1 {
  padding-left: 20px;
  font-size: 13px;
  color: rgba(93,93,93,1);
  margin-top: 20px;
  padding-right: 20px;
}
.container{

}
.logoHolder{
  margin-top: 50px;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.title{
  font-Size: 20px;
  font-Weight: 900;
  color: black;
  padding-Top: 10px;
}

.holder {
  border-top: 1px solid @LINE;
  border-bottom: 1px solid @LINE;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}
