.tagbar {
  margin-bottom: 15px;
  strong {
    margin-right: 10px;
  }
  :global {
    .ant-tag:hover {
      opacity: .8;
      background: #f56a00;
    }
    .ant-tag.ant-tag-checkable-checked {
      color: #fff;
      background: #f56a00;
      border-color: #f56a00;
    }
  }
}
