
.assay_row {
	border-bottom: 1px solid #E4E4E4;
}

.assay_rows .row:last-child {
	border-bottom: 0;
}
.assay_toolBarItem {
  text-align: center;
  line-height: 6rem;
  cursor: pointer;
  font-size: 2.5rem;
}

.assay_toolBarItem div {
  padding-left: 3rem;
}

.assay_toolBarItem img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 1rem;
  top: 1.5rem;
}