.order, .settlement {
  position: relative;
}

.settlement {
  line-height: 18px;
}

.idField {
  color: #bfbfbf;
}

.amt {
  position: absolute;
  top: 0;
  right: 5px;
  color: #5a5a5a;
  text-align: right;
}

.createTime {
  color: #bfbfbf;
}
