// RegVisitTempList

.actionFormOperating {
  margin-right: 15px;
  button {
    margin-right: 10px;
  }
  button:last-child {
    margin-right: 0;
  }
}

// RegVisitTempTree

.searchTree {
  padding-right: 15px;
  border-right: 1px solid #eee;
}

.matchColor {
  color: #f50;
}

.itemIcon {
  margin-right: 4px;
}

.itemMatchIcon {
  margin-right: 4px;
  color: #f50;
}
