.leftCard > div {
  padding: 5px;
}

.form > div {
  padding-bottom: 0;
}

.procurePlanTopCard {
  margin-bottom: 10px;
}

.infoCard {
  margin-bottom: 5px;
}
.infoCard > div {
  padding: 10px 5px;
}

.bottomCard > div {
  padding: 5px;
}

