body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:521px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:526px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:501px;
  height:526px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:43px;
  width:500px;
  height:33px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:501px;
  height:30px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:21px;
  width:75px;
  height:22px;
  color:#FFFFFF;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:43px;
  width:85px;
  height:33px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:43px;
  width:95px;
  height:33px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:43px;
  width:83px;
  height:33px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:43px;
  width:33px;
  height:33px;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:43px;
  width:44px;
  height:33px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:504px;
  width:500px;
  height:35px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:514px;
  width:75px;
  height:22px;
  color:#FFFFFF;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:514px;
  width:75px;
  height:22px;
  color:#FFFFFF;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:514px;
  width:75px;
  height:22px;
  color:#FFFFFF;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:43px;
  width:83px;
  height:33px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:76px;
  width:500px;
  height:428px;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:21px;
  width:88px;
  height:22px;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:84px;
  word-wrap:break-word;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:76px;
  width:501px;
  height:213px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-align:left;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:266px;
  width:500px;
  height:238px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-align:left;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:109px;
  width:501px;
  height:157px;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:69px;
  height:36px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:127px;
  height:36px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:0px;
  width:75px;
  height:36px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:230px;
  height:30px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:36px;
  width:69px;
  height:30px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:36px;
  width:127px;
  height:30px;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:36px;
  width:75px;
  height:30px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:230px;
  height:30px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:66px;
  width:69px;
  height:30px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:66px;
  width:127px;
  height:30px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:66px;
  width:75px;
  height:30px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:230px;
  height:30px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:96px;
  width:69px;
  height:30px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:96px;
  width:127px;
  height:30px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:96px;
  width:75px;
  height:30px;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:31px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:230px;
  height:31px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:126px;
  width:69px;
  height:31px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:126px;
  width:127px;
  height:31px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:126px;
  width:75px;
  height:31px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:43px;
  width:77px;
  height:33px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:76px;
  width:85px;
  height:33px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:76px;
  width:315px;
  height:33px;
  text-align:left;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:311px;
  word-wrap:break-word;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:76px;
  width:100px;
  height:33px;
  text-align:left;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:21px;
  width:75px;
  height:22px;
  color:#FFFFFF;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
