.headerTitle {
	font-weight: 600;
}
.fm_modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	font-size: 8rem;
	text-align: center;
	position: absolute;
	color: rgb(188,30,30);
	background-color:rgba(78,78,78,0.5);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:200px 200px;
}