.layout {
	height: 100%;
	width :100%;
	min-height:200px;
	min-width:1200px;
}

.header {
	position: relative;
	background: #ffffff none repeat scroll 0 0;
	/*height: 66px;
	line-height: 66px;*/
	/*padding: 0 0 0 50px;*/
}

.logo {
	float: left;
	width: 160px;
	/*height: 66px;*/
	/*padding: 17px 0 17px 0;*/
	/*text-align: center;
	vertical-align: middle;*/
	padding-top: 15px;
	/*background-image: url(../../assets/image/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 50%;*/
}

.logo>img {
	height: 32px;
	width: 121px;
}

.header>ul>li {
	line-height: 62px;
}

.header>ul {
	/*margin-right: 400px;*/
}

.dropdown {
	/*color: rgba(255, ​ 255, ​ 255, ​ 0.953);*/
}

.right {
	position: absolute;
	top: 0;
	right: 20px;
	/*width: 150px;*/
	/*color: rgba(255, 255, 255, 0.953);*/
}

.right>ul {
	border-bottom: 0;
	display: inline-block;
}

.right>ul>li {
	line-height: 62px;
}

.right > ul:first-child > li {
	border-color: @error-color !important;
}

.itemSpan {
	font-size: 16px;
}

.sysItem {
	color: @error-color;
}

.icon {
	vertical-align: text-top;
}

.content {
	position: relative;
	padding: 0 0 0 0;
}

.loginDept {
	position: absolute;
	right: 20px;
	top: 0px;
	font-size: 12px;
	font-weight: bold;
	line-height: 52px;
	z-index: 999;
}

.workspace {
	/*background: #fff;*/
	height: 100%;
	padding: 20px;
	padding-bottom: 16px;
}

.tabs {
	/*padding: 24px 0px 0px 24px;*/
}
.tab {
	width:100%;
	overflow: auto;
	/*padding : 16px 24px 0 0;*/
	margin-top: -16px;
	background-color: #ffffff;
	/* min-width: 900px;
	overflow-x: scroll;
	overflow-y: scroll; */
}


