@import "../../utils/common";

.allContainer {
  width: 100%;
  height: 100%;
  // background-color: @IOS_GRAY_BG;
  overflow-y: scroll;
  overflow-x: hidden;
}
.listTitle {
  height: 25px;
  padding-left: 15px;
  align-items: center;
  padding-top: 10px;
  background-color: white;
  border-top: 1px solid @LINE;
}
.diagRowContainer {
  height:120px;  /*设置div的大小*/
  //padding-top: 5px;
  align-items: center;
  background-color: white;
  //justify-content: left;
  //display: flex;/*边框*/
  width: 100%;
}
.diagRow {
  width: 100%;
  height:20px;  /*设置div的大小*/
}
.diagRowTitle {
  width: 80px;
  margin-left: 15px;
  font-size: 13px;
  height:20px;  /*设置div的大小*/
  justify-content: left;
  color: @FONT_LIGHT_GRAY;
  line-height: 20px;
  background-color: white;
}
.diagRowContent {
  flex: 1;
  font-size: 13px;
  height:20px;  /*设置div的大小*/
  justify-content: left;
  line-height: 20px;
  background-color: white;
}
.drugRowContainer {
  height:60px;  /*设置div的大小*/
  //padding-top: 5px;
  align-items: center;
  width: 100%;
  background-color: white;
}
.drugName {
  flex:3;
  margin-left: 10px;
  font-size: 14px;
  height:20px;  /*设置div的大小*/
  justify-content: left;
  line-height: 20px;
}
.drugBarcode{
  flex:2;
  margin-left: 10px;
  font-size: 13px;
  height:20px;  /*设置div的大小*/
  justify-content: left;
  line-height: 20px;
}
.drugTitle {
  margin-left: 10px;
  font-size: 12px;
  height:20px;  /*设置div的大小*/
  justify-content: left;
  line-height: 20px;
}
.drugDesc {
  margin-left: 10px;
  font-size: 12px;
  height: 20px; /*设置div的大小*/
  justify-content: left;
  line-height: 20px;
  color: @FONT_LIGHT_GRAY;
}
.testRowContainer {
  height:46px;  /*设置div的大小*/
  //padding-top: 5px;
  align-items: center;
  width: 100%;
  background-color: white;
}
.testRowLogo {
  flex:1;
}
.testContent {
  flex:3;

}
.rowLogo {
  width:44px;
  height:44px;  /*设置div的大小*/
  border-radius: 22px;
  border:1px solid #F68B24;    /*边框*/
  text-align: center;        /*文字水平居中对齐*/
  line-height: 44px;        /*设置文字行距等于div的高度*/
  overflow:hidden; /*溢出元素内容是否滚动显示*/
  margin-left: 10px;
  color:#F68B24 ;
  //background-color: #26AB28;
}
.rowLogoRed{
  width:44px;
  height:44px;  /*设置div的大小*/
  border-radius: 22px;
  border:1px solid #F68B24;    /*边框*/
  text-align: center;        /*文字水平居中对齐*/
  line-height: 44px;        /*设置文字行距等于div的高度*/
  overflow:hidden; /*溢出元素内容是否滚动显示*/
  margin-left: 10px;
  color:red ;
}
.reportName{
  margin-top: 5px;
  height:20px;  /*设置div的大小*/
}
.reportDate{
  color: #999999;
  font-size: 12px;
  height:20px;  /*设置div的大小*/

}
.icon {
  padding-left: 8px;
  height:17px;
}
.separator {
  height:10px;
  background-color: @IOS_GRAY_BG;
  border-top: 1px solid @LINE;
}
.separator5 {
  height:5px;
  background-color: white;
  //background-color: @IOS_GRAY_BG;
}
.separatorLine {
  height:1px;
  //background-color: @IOS_GRAY_BG;
}

