// Variables
// --------------------------

@fa-font-path:        "../../assets/icons/fontawesome";
@fa-font-size-base:   14px;
@fa-line-height-base: 1;
//@fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"; // for referencing Bootstrap CDN font files directly
@fa-css-prefix:       fa;
@fa-version:          "4.7.0";
@fa-border-color:     #eee;
@fa-inverse:          #fff;
@fa-li-width:         (30em / 14);

@fa-var-check-circle: "\f058";
@fa-var-circle-thin: "\f1db";
@fa-var-search: "\f002";
@fa-var-times: "\f00d";
@fa-var-arrow-right: "\f061";
@fa-var-home: "\f015";
@fa-var-chevron-left: "\f053";
@fa-var-check-square-o: "\f046";
@fa-var-square-o: "\f096";
@fa-var-pencil-square: "\f14b";
@fa-var-address-card: "\f2bb";
@fa-var-refresh: "\f021";
@fa-var-user-plus: "\f234";
@fa-var-angle-right: "\f105";
@fa-var-chevron-up: "\f077";
@fa-var-chevron-down: "\f078";
@fa-var-caret-down: "\f0d7";
@fa-var-mobile: "\f10b";
@fa-var-comments: "\f086";
@fa-var-close: "\f00d";
@fa-var-clock-o: "\f017";
@fa-var-calendar-check-o: "\f274";
@fa-var-calendar: "\f073";
@fa-var-download: "\f019";
@fa-var-upload: "\f093";
@fa-var-mail-forward: "\f064";
@fa-var-sign-in: "\f090";
@fa-var-medkit: "\f0fa";
@fa-var-list-alt: "\f022";
@fa-var-indent: "\f03c";
@fa-var-random: "\f074";
@fa-var-hospital-o: "\f0f8";
@fa-var-users: "\f0c0";
@fa-var-envelope: "\f0e0";
@fa-var-paper-plane: "\f1d8";
@fa-var-newspaper-o: "\f1ea";
