@import "../../utils/common";
.detailStringItem {
   text-align: left;
 }

.detailDecimalItem {
  text-align: right;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  color: @IOS_DARK_GRAY;
}

.header {
  font-size: 13px;
  padding-bottom: 10px;
}

.detailContent {
  font-size: 12px;
  padding-bottom: 7px;
}

.container {
  flex: 1;
  //background-color: @IOS_GRAY_BG;
  display: flex;
  flex-direction: column;
}

.toolBar {
  height: 40px;
  //display: flex;
  //flex-direction: row;
  //align-items: center;
}

.topBar {
  border-bottom: 1px solid @LINE;
  justify-content: center;
}

.selectDate {
  font-size: 16px;
  font-weight: 600;
  color: black;
  padding-right: 8px;
}

.switchIcon {
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  font-size: 10px;
  color: @FONT_LIGHT_GRAY;
}

.bottomBar {
  //height: 50px;
  //border-top: 1px solid @LINE;
  //justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  //font-size: 14px;
  color: @IOS_BLUE;
}

.listContainer {
  flex: 1;
  overflow-y: scroll;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  //align-items: center;
  background-color: white;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid @LINE;
}

.name {
  flex: 1;
  font-size: 12px;
  color: @FONT_GRAY;
}
.amount {
  width: 40px;
  font-size: 12px;
  color: @FONT_GRAY;
  text-align: right;
}
.price {
  width: 50px;
  font-size: 12px;
  color: @FONT_GRAY;
  text-align: right;
}

.itemTotal {
  width: 40px;
  font-size: 12px;
  color: black;
  text-align: right;
}

.icon {
  color: @IOS_BLUE;
  width: 15px;
  height: 15px;
  align-self: right;
}