.detailStringItem {
  text-align: left;
}

.detailDecimalItem {
  text-align: right;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 7px;
  color: gray;
}

.header {
  font-size: 12px;
  padding-bottom: 7px;
}

.detailContent {
  font-size: 12px;
  paddingBottom: 7px;
}