@import "../../utils/common";

.container {
  .scrolly;
  background-color: @IOS_GRAY_BG;
  padding-top: 10px;
}

.rowSep {
  height: 1px;
  background-color: @LINE;
}

.noData {
  background-color: white;
  .flexRow;
  justify-content: center;
}
