@import "../../utils/common";

.container {
  overflow-y: scroll;
  background-color: @IOS_GRAY_BG;
  padding-top: 10px;
}

.rowSep {
  height: 1px;
  background-color: @LINE;
}

.noData {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
