@import "../../utils/common";

.topBar {
  padding: 10px 0;
  border-bottom: 1px solid @LINE;
  .item {
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
  }
  .sep {
    width: 1px;
    background-color: @LINE;
    height: 14px;
  }
}

.row {
  padding: 15px;
  font-size: 13px;
  .col {
    .bottom {
      padding-top: 5px;
    }
    .extra {
      text-align: center;
      width: 40px;
      padding: 8px;
      border-radius: 5px;
      color: white;
    }
  }
  .col1 {
    .col;
    flex: 2;
  }
  .col2 {
    .col;
    flex: 2;
  }
  .col3 {
    .col;
    flex: 1;
  }
}

.footer {
  padding: 30px;
  text-align: center;
}

.sep {
  background-color: @LINE;
  height: 1px;
}

.modal {
  width: 80%;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}
